
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE ###
.idea/
###< IDE ###

###> Docker ###
docker/volumes/database/data
!docker/volumes/database/data/.gitkeep
###< Docker ###
